a {
    cursor: pointer;
}

body {
    background: #f4f4f4;
}

/* Navigation Bar */

.navbar {
    min-height: 33px !important;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav>li>a,
.navbar-brand {
    padding-top: 6px !important;
    padding-bottom: 0 !important;
    height: 33px;
}

.navbar {
    background-color: #009900;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #d6fdc4;
}

.navbar .navbar-brand {
    color: #ffffff;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #d6fdc4;
}

.navbar .navbar-text {
    color: #ffffff;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #d6fdc4;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #d6fdc4;
    background-color: #4ec02b;
}

.navbar .navbar-toggle {
    border-color: #4ec02b;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #4ec02b;
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ffffff;
}

.navbar .navbar-link {
    color: #ffffff;
}

.navbar .navbar-link:hover {
    color: #d6fdc4;
}


/* Custom */

.main-dashboard-color {
    background-color: #009900 !important;
    border-color: #4ec02b !important;
    color: #ffffff !important;
}

.main-body-color {
    background-color: #ffffff !important;
}

/* Header */

#header {
    background: #333333;
    color: #ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#header .create {
    padding-top: 20px;
}


/* Breadcrumb */

.breadcrumb {
    background: #cccccc;
    color: #333333;
}

.breadcrumb a {
    color: #333333;
}

.dash-box {
    text-align: center;
}


/* Footer */

#footer {
    background: #333333;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}

/* Custom Media */
@media (max-width: 767px) {
    .form-inline > .checkbox {
        margin-left: 5px;
        margin-right: 5px;
    }
    .form-inline .form-control {
        width: auto;
        display: inline-block;
    }
    .form-inline label {
        margin-right: 5px;
    }
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #d6fdc4;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #d6fdc4;
        background-color: #4ec02b;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #d6fdc4;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #d6fdc4;
        background-color: #4ec02b;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #d6fdc4;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #d6fdc4;
        background-color: #4ec02b;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #d6fdc4;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #d6fdc4;
        background-color: #4ec02b;
    }
}


/* 
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d6fdc4;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d6fdc4;
    background-color: #4ec02b;
} */